<ActionBar title="Dialogs {NS}" icon="" class="action-bar">
</ActionBar>
<StackLayout>
    <Button class="btn btn-primary btn-active" text="Ver Alerta" (tap)="verAlerta()"></Button>
    <Button class="btn btn-primary btn-active" text="Ver Alerta Opciones" (tap)="verAlertaOpciones()"></Button>
    <Button class="btn btn-primary btn-active" text="Ver Confirmar" (tap)="verConfirmar()"></Button>
    <Button class="btn btn-primary btn-active" text="Ver Input" (tap)="verInput()"></Button>
    <Button class="btn btn-primary btn-active" text="Ver Accion" (tap)="verAccion()"></Button>
</StackLayout>